.titleAdd {
  font-family: Koulen;
  font-size: 2.25rem;
  color: #41051A;
  margin: 0rem 0rem 0rem 0rem;
}

.cartContainer {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #41051A;
  border-radius: 0.938rem 0.938rem 0px 0px;
  margin: 1.406rem 1.406rem 0rem 1.406rem;
  width: 46.438rem;
  padding: 0rem 0rem 2rem 0rem;
}

.btnMenuContainer {
  display: flex;
  flex-direction: row
}

.btnMenu {
  color: #D67D3E;
  background-color: transparent;
  border: none;
  font-family: Koulen;
  font-size: 1.563rem;
  width: 42.563rem;
  height: 3.25rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 1rem;
}

.btnMenu:focus {
  color: #FFF7EC;
}

.btnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btnFood {
  color: #7C1B3E;
  background-color: #FFF7EC;
  border: none;
  font-family: Koulen;
  font-size: 1.375rem;
  width: 18.188rem;
  height: 2.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin: 0.25rem;
}

.btnMenuTraditional:hover,
.btnMenuBreakfast:hover {
  background-color: #D67D3E;
}


@media only screen and (max-width: 600px) {
  .btnReturn {
      width: 20rem;
  }

  .cartContainer {
  width: 20rem;
  }

  .detailContainer {
    width: 20rem;
  }

  /* .btnMenuTraditional, 
  .btnMenuBreakfast {

  } */
}