@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Yaldevi&display=swap');

.titleAdd {
  font-family: Koulen;
  font-size: 2.25rem;
  color: #41051A;
  margin: 0rem 0rem 0rem 0rem;
  text-align: center;
}

.statsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.statusContainer {
  display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.938rem 0.938rem 0px 0px;
    margin: 0.8rem;
    padding: 0.5rem 0rem;
    justify-content: space-around;
}

.statusOrdersContainer {

  display: flex;
      width: 48rem;
      justify-content: space-between;
      flex-wrap: wrap;
}

.orderStatusContainer {
  flex-direction: column;
  background-color: #41051A;
  font-family: Koulen;
  font-size: 1.563rem;
  color: #FFF7EC;
  display: flex;
  align-items: center;
  margin: 2rem 1rem;
  border-radius: 0.938rem 0.938rem;
  padding: 1rem
}

.btnStatusStyle {
  background-color: #FFF7EC;
  color: #41051A;
  text-align: center;
  border-radius: 15px;
  border: none;
  text-align: center;
  margin: 0.5rem;
  cursor: pointer;
}

.btnReturn {
    margin: 0.5rem;
    color: #FFF7EC;
    background-color: #D67D3E;
    border-radius: 15px;
    border: none;
    font-family: Koulen;
    font-size: 2.25rem;
    width: 46.438rem;
    height: 3.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .btnReturn:hover {     
    background-color:#41051A;
    color: #FFF7EC;    
  }

  @media only screen and (max-width: 600px) {
    .statusOrdersContainer {
        width: 20rem;
        justify-content: center;
    }

    .btnReturn {
      width: 20rem;
  }
  }
