@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Yaldevi&display=swap');

h1 {
    font-family: Koulen;
    font-size: 2rem;
    color: #41051A; 
}

.editContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
