@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Koulen&family=Yaldevi&display=swap');
h1 {
    font-family: Koulen;
    font-size: 2rem;
    color: #FFF7EC; 
    margin: 0.5rem
}

.addContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titleAdd {
    font-family: Koulen;
    font-size: 2.25rem;
    color: #41051A; 
    margin: 0rem 0rem 0rem 0rem;
}

.formContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #41051A;
    border-radius: 15px;
    margin: 1.406rem;
    width: 46.438rem;
}

.addName {
    color: #FFF7EC;
    font-family: Concert One;
    margin: 2rem 0rem 0rem 0rem;
    font-size: 2.25rem;
}

.clientName {
    margin: 1rem;
    height: 6.625rem;
    width: 42.563rem;
    font-family: Koulen;
    font-size: 2.25rem;
}

.clientName::placeholder {
    text-align: center;
}

.selectTitle {
    color: #FFF7EC;
    font-family: Concert One;
    margin: 0rem;
    font-size: 2.25rem;
}

.btnMenuBreakfast {
    color: #41051A;
    background-color: #FFF7EC;
    border: none;
    font-family: Koulen;
    font-size: 2.25rem;
    width: 42.563rem;
    height: 3.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
}

.btnMenuTraditional {
    color: #41051A;
    background-color: #FFF7EC;
    border: none;
    font-family: Koulen;
    font-size: 2.25rem;
    width: 42.563rem;
    height: 3.25rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 1rem 1rem 3rem 1rem;
}

.btnMenuTraditional:hover,  .btnMenuBreakfast:hover{     
    background-color:#D67D3E;  
}